<!DOCTYPE html>
<html>

<head>
  <link rel="shortcut icon" href="favicon.ico">
  <meta charset="UTF-8" />
  <title>Index</title>
</head>

<body>
  <p>This is an example of a simple HTML page with one paragraph.</p>


  <script src="assets/like_button.js"></script>

  <form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br><br>
    <button type="button" onclick="login()">Submit</button>
  </form>
  <form>
    <label for="input-text">Enter input:</label>
    <input type="text" id="input-text" name="input-text">
    <button type="button" onclick="callAPI()">Call API</button>
  </form>
  


</body>

</html>